<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo spring</title>
</head>
<body>
<div th:if="${!students.isEmpty() && students != null} ">
    <a th:href="@{/addstudent}">Agregar estudiante</a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Numero de teléfono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="student: ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getLastname()}"></td>
            <td th:text="${student.getStreet()}"></td>
            <td th:text="${student.getNumberPhone()}"></td>
            <td><a th:href="@{/setstudent/} + ${student.id}" th:text="Editar"></a></td>
            <td><a th:href="@{/deletestudent(id=${student.getId()})}" th:text="Eliminar"></a></td>
        </tr>

    </table>
</div>
<div th:if="${students.isEmpty() || students == null} ">
    Lista de estudiantes esta vacia
</div>
</body>
</html>